<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edpub.cpp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_external_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CFundamentals">
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="true"
            android:parentActivityName=".UpdateProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" /></activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="true"
            android:parentActivityName=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ExampleActivity"
            android:parentActivityName=".HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity
            android:name=".ChapterActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".LauncherActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>